<!DOCTYPE html> 
<html>
  <head>
    <link rel="stylesheet" href="styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>AmineShop</title>
  </head>
  <body>
    <div class="grid-container">
      <header class="row">
        <div>
          <a class="brand" href="index.html">AmineShop</a>
        </div>
        <div>
          <a href="cart.html">Cart</a>
          <a href="signin.html">Sign In</a>
        </div>
      </header>
      <main>
        <div>
          <div class="row center">
           
            <div class="card">
              <a href="product.html">
                <!-- image size: 680px by 830px -->
                <img class="medium" src="./images/9a.jpg" alt="product" />
              </a>
              <div class="card-body">
                <a href="product.html">
                  <h2>Xiaomi Redmi 9A</h2>
                </a>
                <div class="rating">
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                </div>
                <div class="price">$120</div>
              </div>
            </div>
            <div class="card">
              <a href="product.html">
                <!-- image size: 680px by 830px -->
                <img class="medium" src="./images/9c.jpg" alt="product" />
              </a>
              <div class="card-body">
                <a href="product.html">
                  <h2>Xiaomi Redmi 9C</h2>
                </a>
                <div class="rating">
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                </div>
                <div class="price">$120</div>
              </div>
            </div>
            <div class="card">
              <a href="product.html">
                <!-- image size: 680px by 830px -->
                <img class="medium" src="./images/note10.jpg" alt="product" />
              </a>
              <div class="card-body">
                <a href="product.html">
                  <h2>Xiaomi Redmi Note 10</h2>
                </a>
                <div class="rating">
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star-half-o"></i> </span>
                </div>
                <div class="price">$120</div>
              </div>
            </div>
            <div class="card">
                <a href="product.html">
                  <!-- image size: 680px by 830px -->
                  <img class="medium" src="./images/mi11.jpg" alt="product" />
                </a>
                <div class="card-body">
                  <a href="product.html">
                    <h2>Xiaomi Mi 11 Lite</h2>
                  </a>
                  <div class="rating">
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                  </div>
                  <div class="price">$120</div>
                </div>
              </div>
              <div class="card">
                <a href="product.html">
                  <!-- image size: 680px by 830px -->
                  <img class="medium" src="./images/a12.jpg" alt="product" />
                </a>
                <div class="card-body">
                  <a href="product.html">
                    <h2>Oppo A12</h2>
                  </a>
                  <div class="rating">
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                  </div>
                  <div class="price">$120</div>
                </div>
              </div>
              <div class="card">
                <a href="product.html">
                  <!-- image size: 680px by 830px -->
                  <img class="medium" src="./images/a93.jpg" alt="product" />
                </a>
                <div class="card-body">
                  <a href="product.html">
                    <h2>Oppo A93</h2>
                  </a>
                  <div class="rating">
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                  </div>
                  <div class="price">$120</div>
                </div>
              </div>
              <div class="card">
                <a href="product.html">
                  <!-- image size: 680px by 830px -->
                  <img class="medium" src="./images/reno 5.jpg" alt="product" />
                </a>
                <div class="card-body">
                  <a href="product.html">
                    <h2>Oppo Reno 5 5g</h2>
                  </a>
                  <div class="rating">
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                  </div>
                  <div class="price">$120</div>
                </div>
          </div>
          <div class="card">
            <a href="product.html">
              <!-- image size: 680px by 830px -->
              <img class="medium" src="./images/a02s.jpg" alt="product" />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h2>Samsung Galaxy A02s</h2>
              </a>
              <div class="rating">
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
              </div>
              <div class="price">$120</div>
            </div>
            
        </div>
        <div class="card">
            <a href="product.html">
              <!-- image size: 680px by 830px -->
              <img class="medium" src="./images/m11.jpg" alt="product" />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h2>Samsung Galaxy M11</h2>
              </a>
              <div class="rating">
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
              </div>
              <div class="price">$120</div>
            </div>
        </div>
        <div class="card">
            <a href="product.html">
              <!-- image size: 680px by 830px -->
              <img class="medium" src="./images/a32.jpg" alt="product" />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h2>Samsung Galaxy A32</h2>
              </a>
              <div class="rating">
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
              </div>
              <div class="price">$120</div>
            </div>
        </div>
        <div class="card">
            <a href="product.html">
              <!-- image size: 680px by 830px -->
              <img class="medium" src="./images/s21.jpg" alt="product" />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h2>Samsung Galaxy s21 Ultra 5G </h2>
              </a>
              <div class="rating">
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
              </div>
              <div class="price">$120</div>
            </div>
        </div>
        <div class="card">
            <a href="product.html">
              <!-- image size: 680px by 830px -->
              <img class="medium" src="./images/iphonex.jpg" alt="product" />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h2>iPhone X</h2>
              </a>
              <div class="rating">
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
              </div>
              <div class="price">$120</div>
            </div>
        </div>
        <div class="card">
            <a href="product.html">
              <!-- image size: 680px by 830px -->
              <img class="medium" src="./images/iphone11.jpg" alt="product" />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h2>iPhone 11</h2>
              </a>
              <div class="rating">
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
              </div>
              <div class="price">$120</div>
            </div>
        </div>
        <div class="card">
            <a href="product.html">
              <!-- image size: 680px by 830px -->
              <img class="medium" src="./images/iphone11pro.jpg" alt="product" />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h2>iPhone 11 pro</h2>
              </a>
              <div class="rating">
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
              </div>
              <div class="price">$120</div>
            </div>
        </div>   <div class="card">
            <a href="product.html">
              <!-- image size: 680px by 830px -->
              <img class="medium" src="./images/iphone12pro.jpg" alt="product" />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h2>iPhone 12 pro</h2>
              </a>
              <div class="rating">
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
              </div>
              <div class="price">$120</div>
            </div>
            </div>
            
      </main>
      <footer class="row center">All right reserved</footer>
    </div>
  </body>
</html>